/*cabecera*/
.box .escuela{
	color:#909090;
	font-size: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	top:-9px;
}

.box a{
	text-decoration: none;
	font-family: 'Tinos', serif;
	color:#7BAD03;
	text-decoration: none;
	padding-left:65px;
	position: relative;
	left: 280px;
}

.box a:hover{
	text-decoration: none;
	font-family: 'Tinos', serif;
	color:#909090;
	text-decoration: none;
	padding-left:65px;
	position: relative;
	left: 280px;
}

/*banner*/
.box-banner{
	background-image: url(../img/dance_1.jpg);
	width: 100%;
	height: 500px;
	position: relative;
	top:30px;
	-webkit-filter: grayscale(70%);
}

.box-banner .text{
	color:#fff;
	font-size: 28px;
	position: absolute;
	top: 86px;
	left: -303px;
}

.box-banner .text-uno{
	width: 300px;
	color:#fff;
	font-size: 14px;
	position: absolute;
	top: 126px;
	left: -301px;
}

.box-banner .rect{
	width: 400px;
	height: 150px;
	background-color: #000;
	opacity: 0.4;
	position: relative;
	top:74px;
	left: 79px;
}

.box-banner button{
	background-color: #7BAD03;
	border: none;
	padding:5px 10px;
	position: absolute;
	top: 175px;
	left: 352px;
	opacity: 0.6;
}

.box-banner button:hover{
	background-color: #fff;
	border: none;
	padding:5px 10px;
	position: absolute;
	top: 175px;
	left: 352px;	
}


/*cuerpo*/
.box-textura-dos{
	width: 100%;
	height: 700px;
	position: relative;
}

.box-textura-dos .fa-trophy{
	font-size: 120px;
	color:#EAE9E9;
	position: relative;
	left: 530px;
	top:120px;
}

.box-textura-dos h4{
	color:#7BAD03;
}

.box-textura-dos .text-uno, .text-dos, .text-tres{
	color:#A9A9A9;
	font-family: 'Tinos', serif;
	font-size: 14px;
	margin-top: 200px;
	padding: 15px;
	text-align: justify;
}


.box-textura-dos img{
	width: 100px;
	position: absolute;
	top:220px;
	left: 630px;
}

.box-textura-dos button{
	color:#fff;
	font-size: 13px;
	border:none;
	padding: 9px 6px;
	background-color: #7BAD03;
	position: relative;
	top:10px;
	opacity: 0.6;
}

.box-textura-dos button:hover{
	color:#fff;
	font-size: 13px;
	padding: 9px 6px;
	background-color: #909090;
	position: relative;
	top:10px;	
}

/*dos fotos*/

.box-fotos-dos .fa-clock-o{
	font-size: 120px;
	color:#EAE9E9;
	position: absolute;
	left: 530px;
	top:10px;
	z-index: 8;
}

.box-fotos-dos{
	width: 100%;
	height: 650px;
	margin-top: 50px;
	position: relative;
}

.box-fotos-dos img{
	width: 50%;
	height: 300px;
	padding:0px;
	border: 15px solid #fff;
	position: relative;
	top:300px;
	bottom: 50px;	
	-webkit-filter: grayscale(70%);
}

.box-fotos-dos img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-filter: grayscale(0%);
}

.box-fotos-dos .texto-fotos{
	color:#909090;
	font-size: 30px;
	font-family: 'Tinos';

	position: absolute;
	top:200px;
	left: 307px;
}

.box-fotos-dos .cancha-tenis{
	color:#909090;
	font-family: "Tinos";
	position: absolute;
	top:610px;
	left: 220px;
	z-index: 8;
}

.box-fotos-dos .cancha-tenis-cisterna{
	color:#909090;
	font-family: "tinos";
	position: absolute;
	top:610px;
	left: 826px;
	z-index: 8;
}

/*pie*/
.box-pie{
	background-color: #fff;
	padding-top: 0px;
	padding-bottom:200px;
	margin-top: 100px;
	height: 500px;
}

.box-pie iframe{
	width: 100%;
	position: relative;
}

.box-pie p{
	font-family: "Tinos";
	padding-left:14px;
	margin:4px 0 0px;
}

/*contacto*/
.box-contacto{
	background-image: url(../img/shoes_!.jpg);
	background-position: -30px 789px;
	height: 400px;
	-webkit-filter: grayscale(70%);
}

.box-contacto .fa-comments-o{
	font-size: 120px;
	color:#EAE9E9;
	position: absolute;
	top:-215px;
	left: 490px;
	z-index: 8;
}

.box-contacto h3{
	font-family: "Tinos";
	color:#fff;
}

.box-contacto i{
	color:#9b9b9b;
  	position: absolute;
  	top:8px;
  	left: 30px;
  	margin-top:-3px;
}

.box-contacto input[type="text"] {
	background-color: #fff;
	color: #363636;
	font-family: "Tinos";
	padding-left: 36px;
	width: 100%;
}

.box-contacto .fa-user{
	z-index: 8;
}

.box-contacto .nombr, .email, .mensaje{
	margin-bottom: 10px;
}

.box-contacto .mensaje[type="text"] {
	background-color: #fff;
	color: #363636;
	font-family: "Tinos";
	padding-left: 36px;
	padding-top: -20px;
	width: 100%;
	height: 100px;
}

.box-contacto button{
	color:#fff;
	font-family: "Tinos";
	font-size: 14px;
	padding: 9px 15px;
	border: none;
	background-color: #7BAD03;
	position: relative;
	top:-10px;
	width: 555px;
}

.box-contacto button:hover{
	color:#fff;
	font-family: "Tinos";
	font-size: 14px;
	padding: 9px 15px;
	border: none;
	background-color: #909090;
	position: relative;
	top:-10px;
	width: 555px;
}


/*pie de pagina*/
.box-pie-pagina{
	font-family: "Tinos";
	font-size: 14px;
	color:#909090;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

font-family: 'Tinos', serif;
font-family: 'Archivo Black', sans-serif;